:host {
  display: block;
}

$bg-color: rgb(242, 245, 220);

mat-card {
  border-radius: 2px;
  width: 20rem;
  height: 10rem;
}

mat-card-header {
  padding-bottom: 1rem;
  background-color: $bg-color;
}

mat-card-content {
  padding-top: 1rem;
}

.power-name {
  font-style: 500;
  color: #777;
}
