mat-card {
  border-radius: 2px;
  width: 20rem;
  transition: all 400ms ease-in-out;
}

mat-card-header {
  padding-bottom: 1rem;
}

mat-card-content {
  padding-top: 1rem;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.power-name {
  font-style: 500;
  color: rgb(150, 54, 54);
}

h2 {
  padding: 1rem 0.5rem;
  text-align: center;
}

button {
  border-radius: 2px;
}
